@import "mocha.css";

* {
  font-family: Fira Code Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: @surface0;
  color: @text;
}

#workspaces {
  background-color: @surface0;
  border-radius: 0px;
}

#workspaces button {
  color: @lavender;
  border: 1px solid @surface1;
  border-radius: 0px;
}

#workspaces button.active {
  color: @peach;
  border: 1px solid @peach;
  border-radius: 0px;
}

#workspaces button:hover {
  color: @sapphire;
}

#window {
  color: @text;
  background-color: transparent;
}

#tray,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#idle_inhibitor,
#custom-power {
  padding: 0rem 5px 0rem 5px;
  background-color: @surface0;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @teal;
}

#pulseaudio {
  color: @maroon;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#idle_inhibitor {
  color: @mauve;
}

#custom-power {
  color: @mauve;
}

#clock {
  color: @sky;
}
